doctype html
html(lang="es")
    head
        title="Arduino" + ((title !== undefined && title !== '') ? " | " + title: "")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/bootstrap.css" rel="stylesheet")
        link(href="css/fontawesome-free.css" rel="stylesheet")
        link(href="css/default.css" rel="stylesheet")
        link(rel="shortcut icon" type="image/ico" href="img/favicon.ico")
        block stylesheet
    body
        include mainMenu.pug
        div(class="container-fluid" id="body-content")
            block content
        div.line-clean
        include mainFooter.pug
        script(src="js/app.js")
        block scripts