nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href="/") Arduino
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul.navbar-nav.mr-auto
