@import "./node_modules/bootstrap/scss/_functions";
@import "./node_modules/bootstrap/scss/_variables";
body{
    button{
        margin: 0;
        padding: 0;
        border: 0;
        width: 50px;
        font-size: 40px;
        background-color: transparent;
        &.disable{
            .fas{
                display: none;
            }
            .far{
                display: inline-block;
            }
        }
        &.active{
            .fas{
                display: inline-block;
            }
            .far{
                display: none;
            }
        }
        &.led-yellow{
            color: $yellow;
        }
        &.led-blue{
            color: $blue;
        }
        &.led-red{
            color: $red;
        }
        &.led-green{
            color: $green;
        }
    }
}