extends ./layouts/main.pug

block append content
    .d-flex.justify-content-center.p-5
        button(data-status="true" class="btn-duino led-yellow disable" data-id="6" onclick="setButton(this)")
            i.far.fa-circle
            i.fas.fa-circle
        button(data-status="true" class="btn-duino led-blue disable" data-id="8" onclick="setButton(this)")
            i.far.fa-circle
            i.fas.fa-circle
        button(data-status="true" class="btn-duino led-green disable" data-id="10" onclick="setButton(this)")
            i.far.fa-circle
            i.fas.fa-circle
        button(data-status="true" class="btn-duino led-red disable" data-id="12" onclick="setButton(this)")
            i.far.fa-circle
            i.fas.fa-circle